<h2>{{label}}</h2>

<div class="json-editor">
  <div *ngFor="let item of requestItems; let i = index" class="json-item">
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="id" [(ngModel)]="item.id">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="creation_timestamp" [(ngModel)]="item.creation_timestamp">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="last_update_timestamp" [(ngModel)]="item.last_update_timestamp">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="column_a" [(ngModel)]="item.column_a">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="column_b" [(ngModel)]="item.column_b">
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br>

<section>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <button mat-mini-fab color="primary" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="remove()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<br>

<div class="token-input" style="min-width: 200px; max-width: 40%">
  <mat-card>
    <mat-label>BigQuery API token</mat-label>
    <mat-form-field>
      <textarea style="font-size: 10px;" matInput [(ngModel)]="bigQueryApiToken" placeholder="Paste token here"
                (change)="queryDryRun()"></textarea>
    </mat-form-field>
  </mat-card>
</div>

<!--<div style="padding-left: 20px">-->
<!--  <p><code>{{bigQueryApiToken}}</code></p>-->
<!--</div>-->

<div style="margin-bottom: 18px;">
  <button (click)="query()">Submit</button>
</div>
