.json-editor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 10px;
  background-color: #efeeee;
  border-style: groove;
}

.json-item {
  margin-top: 8px;
  width: 300px;
  font-family: monospace;
}

button {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: cadetblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}

.mat-form-field {
  font-family: monospace;
}

.token-input {
  font-family: monospace;
}

textarea {
  font-family: monospace;
  min-height: 100px;
  margin-top: 10px;
}
