<mat-card>
  <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">

    <div formArrayName="subqueries" *ngFor="let subquery of subqueries.controls; let i = index">

      <div class="subquery-container" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>ID</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Creation Timestamp</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="creation_timestamp">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last Update Timestamp</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="last_update_timestamp">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Column A</mat-label>
          <input matInput formControlName="column_a">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Column B</mat-label>
          <input matInput formControlName="column_b">
        </mat-form-field>

        <button class="remove-button" mat-icon-button (click)="removeSubquery(i)" *ngIf="hasMultipleSubqueries()">
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
  </form>
  <div class="button-container">
    <button mat-icon-button (click)="addSubquery()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button type="submit">Submit</button>
  </div>
</mat-card>

