<div class="card-responsive">
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Request Parameters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
      <div formArrayName="subqueries" *ngFor="let subquery of subqueries.controls; let i = index">
        <div class="subquery-container" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>id</mat-label>
            <input matInput formControlName="id">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>creation_timestamp</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="creation_timestamp">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>last_update_timestamp</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="last_update_timestamp">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>column_a</mat-label>
            <input matInput formControlName="column_a">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>column_b</mat-label>
            <input matInput formControlName="column_b">
          </mat-form-field>

          <button type="button"
                  class="delete-button"
                  mat-icon-button (click)="removeSubquery(i)" *ngIf="hasMultipleSubqueries()">
            <mat-icon>delete</mat-icon>
          </button>

          <button type="button" class="clear-row fab-button" mat-icon-button (click)="clearRow(i)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <div class="button-container">
      <button mat-icon-button type="button" class="add-button" (click)="addSubquery()">
        <mat-icon>add</mat-icon>
      </button>
      <div class="inner-button-container">
        <button mat-raised-button type="button" (click)="clearAll()">Refresh</button>
        <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>

<input type="file" class="file-upload" (change)="onFileSelected($event)">

<div class="token-input">
    <mat-form-field>
      <textarea style="font-size: 10px; width: 100%;"
                matInput
                [(ngModel)]="gcpToken"
                placeholder="Paste token here"
                (change)="queryDryRun(gcpToken)">
      </textarea>
    </mat-form-field>
</div>
