.card-responsive .token-input {
  display: block;
  overflow-x: auto;
  width: 100%;
}

mat-expansion-panel {
  /*display: block;*/
  /*overflow-x: auto;*/
  /*width: 100%;*/
  margin-bottom: 10px;
}

mat-panel-title {
  font-size: large;
}

form {
  display: block;
  overflow-x: auto;
  width: 100%;
  margin-bottom: 10px;
}

mat-card {
  border-collapse: collapse;
  margin: 0 0 1rem;
  max-width: 100%;
  width: 100%;
}

.button-container {
  display: flex;
  align-items: center; /* Align items on the Y-axis */
  justify-content: space-between;
}

button[mat-icon-button] {
  display: flex;
  align-items: center;
  justify-content: center;
}



button[mat-raised-button] {
  padding: 6px 100px;
  line-height: 1;
  margin-right: 20px;
}

mat-icon {
  vertical-align: middle;
}

.query-form {
  min-width: 100%;
  margin: 20px;
}

/*.query-form {*/
/*  margin: 0 0 20px 0;*/
/*  width: 100%;*/
/*}*/

mat-form-field {
  width: 100%;
}

.query-form-button {
  margin-right: 10px;
}

.mat-raised-button {

}

button[mat-icon-button] mat-icon {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.subquery-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.remove-button {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  vertical-align: middle;
}

/*.clear-row {*/
/*  margin-right: 10px;*/
/*  padding: 20px;*/
/*  margin-bottom: 20px;*/
/*}*/

.clear-row {
  padding: 0;
  margin-right: 10px;
  margin-bottom: 20px;
}

.file-upload {
  margin-bottom: 10px;
}

.inner-button-container {
  display: flex;
  justify-content: left;
  line-height: 1;
}

.add-button {
  line-height: 1px;
}

.delete-button {
  margin-bottom: 20px;
}

/*mat-card {*/
/*  border-collapse: collapse;*/
/*  margin: 0 0 1rem;*/
/*  max-width: 100%;*/
/*  width: 100%;*/
/*}*/

/*.button-container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-between;*/
/*}*/

/*button[mat-icon-button] {*/
/*  margin-top: 0;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*button[mat-raised-button] {*/
/*  padding: 6px 100px;*/
/*  line-height: 1;*/
/*  margin-right: 20px;*/
/*}*/

/*mat-icon {*/
/*  vertical-align: middle;*/
/*}*/

/*.query-form {*/
/*  min-width: 100%;*/
/*  margin: 0 0 20px 0;*/
/*  width: 100%;*/
/*}*/

/*.mat-form-field {*/
/*  width: 100%;*/
/*}*/

/*.query-form-button {*/
/*  margin-right: 10px;*/
/*}*/

/*button[mat-icon-button] mat-icon {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  line-height: 1;*/
/*}*/

/*.subquery-container {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  width: 100%;*/
/*}*/

/*.remove-button {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  justify-content: space-between;*/
/*  vertical-align: middle;*/
/*}*/

/*.clear-row {*/
/*  margin-bottom: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.mat-fab button {*/
/*  margin-left: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.file-upload {*/
/*  margin-bottom: 10px;*/
/*}*/

/*.inner-button-container {*/
/*  display: flex;*/
/*  justify-content: left;*/
/*  line-height: 1;*/
/*}*/

/*.add-button {*/
/*  line-height: 1px;*/
/*}*/

/*.delete-button {*/
/*  margin-bottom: 20px;*/
/*}*/
