.table-responsive {
  display: block;
  overflow-x: auto;
  width: 100%;
}

mat-table {
  border-collapse: collapse;
  display: table;
  margin: 0 0 1rem;
  max-width: 1200px;
  width: 1200px;
}

mat-row,
mat-header-row {
  display: table-row;
}

th.mat-header-cell {
  padding-right: 60px;
}

mat-cell,
mat-header-cell {
  display: table-cell;
  line-break: unset;
  overflow: hidden;
  padding: 0 5px;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  word-wrap: initial;
}
