table {
  width: 100%;
  background-color: #efeeee;
}

th {
  font-weight: bold;
  font-family: monospace;
}

td {
  font-family: monospace;
}

.mat-form-field {
  font-size: 10px;
  width: 100%;
}

.url-card {
  margin: 10px;
}

mat-card-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
